[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
transformers = "*"
wandb = "*"
sklearn = "*"
pandas = "*"
numpy = "*"
keras = "*"
tensorflow = "*"
spacy = "*"
ipython = "*"
rouge = "*"

[requires]
python_version = "3.8"
